{% extends 'base.html' %}

{% block content %}
<div class="card shadow p-4" style="max-width: 600px; margin: auto;">
    <h2 class="mb-4 text-center">Collect Fee</h2>
    
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Select Student</label>
            <select name="student" class="form-select" required>
                {% for s in students %}
                <option value="{{ s.id }}">{{s.user}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Amount (₹)</label>
            <input type="number" name="amount" class="form-control" placeholder="e.g. 500" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Month For</label>
            <select name="month" class="form-select">
                <option>May 2026</option>
                <option>June 2026</option>
                <option>July 2026</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary w-100">Submit Payment</button>
    </form>
</div>
{% endblock %}